<footer id="site-footer">
  <!-- Release information -->
  {% if site.github and site.github.releases and site.github.releases[0] %}
    <section>
      {% assign latestRelease = site.github.releases[0] %}

      <h3>版本 {{ latestRelease.tag_name }}{% if latestRelease.prerelease == true %} (預先發行){% endif %}</h3>
      <p>發表於 <a href="{{ latestRelease.html_url }}">{{ latestRelease.published_at | date_to_long_string }} GitHub</a></p>
      <p>{{ latestRelease.name }}</p>

      <ul>
        {% for asset in latestRelease.assets %}
          <li>
            <a href="{{ asset.browser_download_url }}" 下載><code>{{ asset.name }}</code></a>
          </li>
        {% endfor %}
        <li>
            <a href="{{ site.github.repository_url }}/releases">所有發行版</a>
        </li>
        <li>
          原始碼封存格式
          <a href="{{ latestRelease.zipball_url }}" 下載><code>.zip</code></a>
          或是
          <a href="{{ latestRelease.tarball_url }}" 下載><code>.tar.gz</code></a>
        </li>
      </ul>
      {% if site.include_badges %}
      {% include badges.html %}
      {% endif %}
      {% if site.include_translations %}
      {% include translations.html %}
      {% endif %}
    </section>
  {% endif %}

  <!-- GitHub repository information -->
  {% if site.github %}
    <section>
      <h3>本站在 GitHub 的頁面</h3>
      <p>本站最近一次是在 {{ site.time | date_to_long_string }} 根據 <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a> GitHub 的儲存庫版本發表。</p>

      <form id="search-repository" action="{{ site.github.repository_url }}/search" method="GET">
        <input name="q" type="text" placeholder="搜尋 GitHub 的原始碼">
        <button type="Submit">{% include github-search.svg %} 搜尋</button>
      </form>

    </section>
  {% endif %}

  <!-- License information -->
  {% if site.license or site.github.license %}
    <section>
      <h3>著作權與授權</h3>
      <p>
        © {{ site.time | date: '%Y' }}
        {% for static_file in site.static_files %}
          {% if static_file.path == '/AUTHORS.md' %}
              {% assign authors_file = true %}
          {% endif %}
        {% endfor %}
        {% if authors_file != true %}<a href="https://publiccode.net/">
          {{ site.copyright | default: '公共程式基金會' }}
        </a>{% endif %}
        {% if authors_file %}<a href="{{ site.baseurl }}/AUTHORS.html">
          {{ site.copyright | default: ' 作者群' }}
        </a>{% endif %}
      </p>
      <p>
        {% for static_file in site.static_files %}
          {% if static_file.path == '/LICENSE.md' %}
              {% assign license_file = true %}
          {% endif %}
        {% endfor %}
        {% if license_file %}<a href="{{ site.baseurl }}/LICENSE.html" rel="license">{% endif %}
        {{ site.license.name | default: site.github.license.name }}
        {% if license_file %}</a>{% endif %}
      </p>
    </section>
  {% endif %}
</footer>
